# Pycharm ignore
/.idea/

# Python ignore
__pycache__/

# Database ignore
data-dev.sqlite
data-test.sqlite
data.sqlite

venv/

.DS_Store

app/static/storage/products/*
app/static/storage/products_resized/*
app/static/storage/cache/*
app/static/storage/products.zip
app/static/storage/products_resized.zip

nltk_data.zip
app/static/cache

