.container-status{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    /*width: 350px;*/
}

.progress-container::before{
    content: "";
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 10px;
    width: 100%;
    z-index: 0;
}

.status-progress{
    background-color: #3dcb34;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 16px;
    width: 0%;
    z-index: 0;
    transition: 0.4s ease;
}

.circle{
    /*background-color: #fff;*/
    background-size: 50px;
    color: #999;
    border-radius: 50%;
    height: 70px;
    width: 70px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 10px solid #e0e0e0;
     z-index: 1;
     transition: 0.4s ease;
}

.circle.active{
    border-color: #3dcb34;
}

.btn-status{
    background-color: #3498db;
    color: #FFF;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn-status:active{
    transform: scale(0.98);
}

.btn-status:focus{
    outline: 0;
}

.btn-status:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}