{% extends 'admin/staff-base.html' %}

{% block content %}

<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Orders</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto" style="display: none">
                <div class="btn-group"><button type="button" class="btn btn-light">Settings</button><button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"><span class="visually-hidden">Toggle Dropdown</span></button>
                    <div
                        class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"><a class="dropdown-item" href="javascript:;">Action</a><a class="dropdown-item" href="javascript:;">Another action</a><a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="javascript:;">Separated link</a></div>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="card">
        <div class="card-body">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
                <div class="position-relative"><input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"><span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span></div>
{#                <div class="ms-auto">#}
{#                    <a data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-light radius-30 mt-2 mt-lg-0">#}
{#                        <i class="bx bxs-plus-square"></i>#}
{#                    Add New Vehicle</a>#}
{#                </div>#}
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>{{ _('Purchaser') }}</th>
                            <th>{{ _('Place Time') }}</th>
                            <th>{{ _('Pick Up Time') }}</th>
                            <th>{{ _('Status') }}</th>
                            <th>{{ _('Price') }}</th>
                            <th>{{ _('Priority') }}</th>
                            <th>{{ _('Operation') }}</th>
{#                            <th>ID</th>#}
{#                            <th>{{ _('Key') }}</th>#}
{#                            <th>{{ _('Name') }}</th>#}
{#                            <th>{{ _('Year') }}</th>#}
{#                            <th>{{ _('Price') }}($)</th>#}
{#                            <th>{{ _('Discount') }}</th>#}
{#                            <th>{{ _('Inventory') }}</th>#}
{#                            <th>{{ _('Operation') }}</th>#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for o in orders %}
                    <tr>
                        <td>
                            <h6 class="m-0">{{ o.id }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="{{ o.buyer.avatar_path }}" alt="activity-user">{{ o.buyer.username }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0">{{ o.timestamp }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0">{{ o.pick_up_time }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0">{{ o.status }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0">{{ o.price }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0">{{ o.priority }}</h6>
                        </td>
                        <td>
                        <div class="d-flex order-actions">
{#                                                        <a href="{{ url_for('admin.modify_product', product_id=product.id) }}" class="label theme-bg2 text-white f-12">Modify</a>#}
                            <a title="View Detail" href="{{ url_for('admin.modify_order', order_id=o.id) }}"><i class="bx bx-info-circle" ></i></a>
                            <a title="Increase Priority" href="{{ url_for('admin.priority_up', order_id=o.id) }}" class="ms-3"><i class="bx bx-up-arrow-circle" ></i></a>
                            <a title="Decrease Priority" href="{{ url_for('admin.priority_down', order_id=o.id) }}" class="ms-3"><i class="bx bx-down-arrow-circle" ></i></a>
{#                                                        <a data-bs-toggle="modal" data-bs-target="#removeModal" onclick="Values_id({{ product.id }})" class="feather icon-trash-2 theme-bg4" style="cursor: pointer"></a>#}
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination justify-content-center" style="margin-top: 30px">{{ pagination.links }}</div>
        </div>
    </div>
</div>
</div>
<!--end page wrapper -->

{% endblock %}