{% extends 'admin/staff-base.html' %}

{% block content %}

<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categories</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto" style="display: none">
                <div class="btn-group"><button type="button" class="btn btn-light">Settings</button><button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"><span class="visually-hidden">Toggle Dropdown</span></button>
                    <div
                        class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"><a class="dropdown-item" href="javascript:;">Action</a><a class="dropdown-item" href="javascript:;">Another action</a><a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="javascript:;">Separated link</a></div>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="card">
        <div class="card-body">
            <div class="d-lg-flex align-items-center mb-4 gap-3">
                <div class="position-relative"><input type="text" class="form-control ps-5 radius-30" placeholder="Search Category"><span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span></div>
                <div class="ms-auto">
                    <a data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-light radius-30 mt-2 mt-lg-0">
                        <i class="bx bxs-plus-square"></i>
                    Add New Category</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Operation') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            <h6 class="m-0">{{ category.id }}</h6>
                        </td>
                        <td>
                            <h6 class="m-0">{{ category.name }}</h6>
                        </td>
                        <td>
                            <div class="d-flex order-actions">
                            <a data-bs-toggle="modal" data-bs-target="#modifyModal"
                               onclick="Values_id_modify({{ category.id }})" ><i class='bx bxs-edit'></i></a>
                            <a data-bs-toggle="modal" data-bs-target="#removeModal"
                               onclick="Values_id({{ category.id }})" class="ms-3"><i class='bx bxs-trash'></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{#            <div class="pagination justify-content-center" style="margin-top: 30px">{{ pagination.links }}</div>#}
        </div>
    </div>
</div>
</div>
<!--end page wrapper -->
<!-- Add Modal Start -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Head -->
            <div class="modal-header">
                <h4 class="modal-title">{{ _('Add New Category') }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="{{ url_for('admin.add_category') }}" method="post" name="addForm" onsubmit="return addValidate()">
                <!-- Content -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{ _('Name') }}</label>
                        <input name="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">{{ _('Confirm') }}</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal End -->

<!-- Remove Modal Start -->
<div class="modal fade" id="removeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Head -->
            <div class="modal-header">
                <h4 class="modal-title">{{ _('Remove Category') }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="{{ url_for('admin.remove_category') }}" method="post" name="removeForm" onsubmit="return removeValidate()">
                <!-- Content -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{ _('Confirm Delete') }}</label>
                        <input name="confirm" class="form-control" placeholder="Please input yes to confirm your remove">
                    </div>
                    <input type="hidden" id="remove_id" name="remove_id" value="">
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">{{ _('Confirm') }}</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Remove Modal End -->

<!-- Modify Modal Start -->
<div class="modal fade" id="modifyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Head -->
            <div class="modal-header">
                <h4 class="modal-title">{{ _('Modify Category') }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="{{ url_for('admin.modify_category') }}" method="post" name="modifyForm" onsubmit="return modifyValidate()">
                <!-- Content -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{ _('Name Update') }}</label>
                        <input name="name" class="form-control" placeholder="New Category Name">
                    </div>
                    <input type="hidden" id="modify_id" name="modify_id" value="">
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">{{ _('Confirm') }}</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modify Modal End -->

<script>
    function Values_id(ID) {
        return $("#remove_id").val(ID);
    }

    function Values_id_modify(ID) {
        return $("#modify_id").val(ID);
    }

    function removeValidate() {
        if (removeForm.confirm.value!=='yes') {
            alert('You did not input yes, right?');
            return false;
        }
        return true;
    }

    function modifyValidate() {
        if (!modifyForm.name.value) {
            alert('Please enter a name');
            return false;
        }
        return true;
    }

    function addValidate() {
        if (!addForm.name.value) {
            alert('Please enter a name');
            return false;
        }
        return true;
    }
</script>
{% endblock %}