{#<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png">
    <script src="../static/plugins/jquery/js/jquery.min.js"></script>

</head>
<body>#}
{% extends 'base.html' %}
{% block content %}
    <script>
        $(document).ready(function(){
	        "use Strict";
            const price = "$" + {{ low }} + " - $" + {{ high }};
            if('{{ search }}'!=="non") {
                $('#textsearch').val('{{ search }}');
            }
            $('#searchselect').val('{{ search }}');
            $('#cateselect').val('{{ cate }}');
            $('#priceselect').val(price);
            $('#sortselect').val('{{ sort }}');
            $('#irselect').val('{{ ir }}')
            const select = document.getElementById("sortinput");
            for(let i=0; i<select.options.length; i++){
                if(select.options[i].value === '{{ sort }}') {
                    select.options[i].selected = true;
                    $('#sortinput').niceSelect('update');
                    break;
                }
            }
             $('#searchbutton').on('click', function (){
                const search = $('#textsearch').val();
                $('#searchselect').val(search);
                $('#pass').click();
            });
            $('#priceinput').on('click', function (){
                const price = $('#amount').val();
                $('#priceselect').val(price);
                $('#pass').click();
            });
            $('#sortinput').on('change', function (){
                const option = $('#sortinput').val();
                $('#sortselect').val(option);
                $('#pass').click();
            });
            const sliderrange = $('#slider-range');
            const amountprice = $('#amount');
            $(function() {
                sliderrange.slider({
                    range: true,
                    min: {{ left }},
                    max: {{ right }},
                    values: [{{ low }}, {{ high }}],
                    slide: function(event, ui) {
                        amountprice.val("$" + ui.values[0] + " - $" + ui.values[1]);
                    }
                });
                amountprice.val("$" + sliderrange.slider("values", 0) +
                    " - $" + sliderrange.slider("values", 1));
            });
        });
        window.onload = function () {
            const status = localStorage.getItem("status");
            if (status !== null){
                if (status === "grid"){
                    $('#grid').attr('class', "tab-pane fade show active");
                    $('#list').attr('class', "tab-pane fade");
                    $('#gridicon').attr('class', "active");
                    $('#listicon').attr('class', "");
                } else if (status === "list"){
                    $('#grid').attr('class', "tab-pane fade");
                    $('#list').attr('class', "tab-pane fade show active");
                    $('#listicon').attr('class', "active");
                    $('#gridicon').attr('class', "");
                }
            }
        }
        function selectCate(name, num){
            if (num !== 0){
                $('#cateselect').val(name);
                $('#pass').click();
            }
        }
        function changeToGrid(){
            $('#grid').attr('class', "tab-pane fade show active");
            $('#list').attr('class', "tab-pane fade");
            localStorage.setItem("status", "grid");
        }
        function changeToList(){
            $('#grid').attr('class', "tab-pane fade");
            $('#list').attr('class', "tab-pane fade show active");
            localStorage.setItem("status", "list");
        }
        function movePage(status, p){
            const search = $('#searchselect').val();
            const cate = $('#cateselect').val();
            const price = $('#priceselect').val();
            const option = $('#sortselect').val();
            $.post(
                "{{ url_for('main.shop', status="paging") }}",
                {"search": search, "cate": cate, "price": price, "sort": option},
                function () {
                    window.location.href = "/products/" + status + "?page=" + p;
                })
        }
        function add_to_cart(id, name, image_path, price) {
            $.post(
                "{{ url_for('main.add_to_cart') }}",
                {'product_id': id, 'product_count': 1},
                function(data) {
                    const status = data['status'];
                    if (status === 0){
                        let msg = "Product " + name + " added into your shopping cart";
                        $("#flash_messages").append('<div class="alert alert-warning" style="margin-bottom: 0"><button type="button" class="close" data-dismiss="alert">x</button>' + msg + '</div>');
                        setTimeout(function hide_note() {
                            document.getElementById("flash_messages").innerHTML="";
                        }, 3000);

                        document.getElementById("mini_cart_count").innerText=data['count'];
                        document.getElementById("mini_cart_price").innerText="$"+data['product_price'];
                        document.getElementById("mini_cart_subtotal").innerText="$"+data['product_price'];

                        // update mini-cart list
                        if (data['count'] <= 3){
                            var mci_html = "";  // mini cart item html
                            mci_html += '<li class="single-cart-item"><div class="cart-img">';
                            mci_html += '<a href="{{ url_for("main.single_product", p=id) }}">';
                            mci_html += '<img src="{{ url_for('static', filename=image_path) }}"' + 'alt="" style="width: 80px; height: 80px"></a></div>';
                            mci_html += '<div class="cart-content"><h5 class="product-name">';
                            mci_html += '<a href="{{ url_for("main.single_product", p=id) }}">' + name + '</a></h5>';
                            mci_html += '<span class="cart-price">1 × $' + price.toString() + '</span></div></li>';
                            $('#mini_cart_list').append(mci_html);
                        }
                    } else {
                        let msg = "Product " + name + " has already in your shopping cart";
                        $("#flash_messages").append('<div class="alert alert-warning" style="margin-bottom: 0"><button type="button" class="close" data-dismiss="alert">x</button>' + msg + '</div>');
                        setTimeout(function hide_note() {
                            document.getElementById("flash_messages").innerHTML="";
                        }, 3000);
                    }
                }
            )
        }
    </script>
		<!--Shop Area Start-->
		<div class="shop-area blue-bg">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-3 order-2 order-lg-1">
		                <!--Product Category Widget Start-->
		                <div class="shop-sidebar">
		                    <h4>{{ _('Product Categories') }}</h4>
		                    <div class="categori-checkbox">
		                        <form action="#">
		                            <ul id="catinput">
                                        {% if cate != "all" %}
                                            <li><a style="cursor: pointer" onclick="selectCate('all')">{{ _('all') }}</a></li>
                                        {% else %}
                                            <li><a style="cursor: pointer; color:#dec674" onclick="selectCate('all')">{{ _('all') }}</a></li>
                                        {% endif %}
                                        {% for cat in categories %}
                                            {% if cat.name != cate %}
{#                                                <li><a style="cursor: pointer" onclick="selectCate('{{ cat.name }}', {{ cate_num[loop.index - 1] }})">{{ cat.name }}</a><span class="count">{{ cate_num[loop.index - 1] }}</span></li>#}
                                                <li><a style="cursor: pointer" href="{{ url_for('main.shop', status=cat.name) }}">{{ cat.name }}</a><span class="count">{{ cate_num[loop.index - 1] }}</span></li>
                                            {% else %}
{#                                                <li><a style="cursor: pointer; color:#dec674" onclick="selectCate('{{ cat.name }}', {{ cate_num[loop.index - 1] }})">{{ cat.name }}</a><span class="count">{{ cate_num[loop.index - 1] }}</span></li>#}
                                                <li><a style="cursor: pointer; color:#dec674" href="{{ url_for('main.shop', status=cat.name) }}">{{ cat.name }}</a><span class="count">{{ cate_num[loop.index - 1] }}</span></li>
                                            {% endif %}
		                                {% endfor %}
		                            </ul>
		                        </form>
		                    </div>
		                </div>
		                <!--Product Category Widget End-->
		                <!--Price Filter Widget Start-->
		                <div class="shop-sidebar">
		                    <h4>{{ _('Filter by price') }}</h4>
		                    <div class="price-filter">
                                <div id="slider-range"></div>
                                <div class="price-slider-amount">
                                    <div class="label-input">
                                        <label>{{ _('price') }} : </label>
                                        <input type="text" readonly="readonly" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                    <button id="priceinput" type="button">{{ _('Filter') }}</button>
                                </div>
                            </div>
		                </div>
		                <!--Price Filter Widget End-->
		                <!--Recent Product Widget Start-->
                        {% if recommend|length > 0 %}
		                <div class="shop-sidebar">
		                    <h4>{{ _('Top Rated Products') }}</h4>
		                    <div class="rc-product">
		                        <ul>
                                    {% for rec in recommend %}
		                            <li>
		                                <div class="rc-product-thumb img-full">
		                                    <a href="{{ url_for('main.single_product', p=rec.id) }}"><img src="{{ url_for('static', filename=rec.imagePaths[0].resized_image_path) }}" alt="" style="height: 72px; width: 72px"></a>
		                                </div>
		                                <div class="rc-product-content">
		                                    <h6><a href="{{ url_for('main.single_product', p=rec.id) }}">{{ rec.name }}</a></h6>
		                                    <div class="price-box">
                                                <span class="regular-price">${{ rec.price }}</span>
                                            </div>
		                                </div>
		                            </li>
                                    {% endfor %}
		                        </ul>
		                    </div>
		                </div>
                        {% endif %}
		                <!--Recent Product Widget End-->
		                <!--Banner Widget Start-->
		                <div class="shop-sidebar">
                            <div class="sidebar-banner single-banner">
		                        <div class="banner-img">
		                            <img src="{{ url_for('static', filename="storage/background/shop-left-new.jpg") }}" alt=""></a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-9 order-1 order-lg-2">
		                <div class="shop-layout">
                           <!--Breadcrumb One Start-->
                            <div class="breadcrumb-one mb-120">
                                <div class="breadcrumb-img">
                                    <img src="{{ url_for('static', filename="storage/background/shop-top-new.jpg") }}" style="width: 870px; margin-bottom: -80px;" alt="">
                                </div>
                                <div class="breadcrumb-content">
                                    <ul>
                                        <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                                        <li class="active">{{ _('Shop') }}</li>
                                    </ul>
                                </div>
                            </div>
                           <!--Breadcrumb One End-->

                            <div class="row">
                                <div class="col-lg-3">
                                    <!--Image Search Area Start-->
                                    <div class="ir_area">
                                        <button id="btn_display_canvas" class="btn_ir">Search Image</button><br>
                                    </div>
                                    <div class="car_sl_area" id="car_sl_area">
                                        <div class="car_sl_mid_container" id="mid_container">
                                            <input type="file" style="display: none;" id="hidden_upload">
                                            <div class="car_sl_upload_area car_sl_drag_leave" id="upload_area">
                                                <span id="upload_hint">Please drag file here or click to upload</span>
                                                <span id="loading_hint">
                                                    <img src="{{ url_for('static', filename="img/Wedges-3s-200px.gif") }}" class="car_sl_loading_hint_gif" alt="">
                                                    <span id="loading_hint_text">locating vehicles</span>
                                                </span>
                                            </div>
                                            <div class="car_sl_canvas_container" id="car_sl_canvas_container">
                                                <h2 class="car_sl_hint">Please Select A Vehicle for Searching</h2>
                                                <canvas width="500px" height="500px" id="canvas_area"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Image Search Area End-->
                                </div>
		                        <div class="col-lg-9">
                                    <!--Text Search Area Start-->
                                    <div class="header-search-area image-search">
                                        <form action="#">
                                            <div class="form-input">
                                                <input name="textsearch" id="textsearch" placeholder="" value="Text Search..." onblur="if(this.value===''){this.value='Text Search...'}" onfocus="if(this.value==='Text Search...'){this.value=''}" type="text">
                                                <input type="text" style="display: none">
                                                <button id=searchbutton type="button" class="header-search-btn"><i class="fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <!--Text Search Area End-->
                                </div>
                            </div>

		                    <!--Grid & List View Start-->
		                    <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
		                        <div class="grid-list-option">
		                             <ul class="nav">
                                      <li>
                                        <a id="gridicon" class="active" data-toggle="tab" href="javascript:void(0);" onclick="changeToGrid()"><i class="fa fa-th-large"></i></a>
                                      </li>
                                      <li>
                                        <a id="listicon" data-toggle="tab" href="javascript:void(0);" onclick="changeToList()"><i class="fa fa-th-list"></i></a>
                                      </li>
                                    </ul>
		                         </div>
		                         <!--Toolbar Short Area Start-->
		                         <div class="toolbar-short-area d-md-flex align-items-center">
                                     <div class="toolbar-shorter ">
                                        <label>{{ _('Sort By') }}:</label>
                                         <select id="sortinput" class="wide">
                                             <option value="0">{{ _('Nothing') }}</option>
                                             <option value="1">{{ _('Year, New to Old') }}</option>
                                             <option value="2">{{ _('Speed, High to Low') }}</option>
                                             <option value="3">{{ _('Gas Mileage, Low to High') }}</option>
                                         </select>
                                     </div>
                                     {% if pagination.total == 1 %}
                                        <p class="show-product">{{ _('Showing') }} 1 {{ _('of') }} 1 {{ _('result') }}</p>
                                     {% else %}
                                        {% if pagination.page * pagination.per_page > pagination.total %}
                                            <p class="show-product">{{ _('Showing') }} {{ (pagination.page - 1) * pagination.per_page + 1 }}–{{ pagination.total }} {{ _('of') }} {{ pagination.total }} {{ _('results') }}</p>
                                        {% else %}
                                            <p class="show-product">{{ _('Showing') }} {{ (pagination.page - 1) * pagination.per_page + 1 }}–{{ pagination.page * pagination.per_page }} {{ _('of') }} {{ pagination.total }} {{ _('results') }}</p>
                                        {% endif %}
                                     {% endif %}
                                 </div>
		                         <!--Toolbar Short Area End-->
		                    </div>
		                    <!--Grid & List View End-->
		                    <!--Shop Product Start-->
		                    <div class="shop-product">
		                        <div id="myTabContent-2" class="tab-content">
		                            <div id="grid" style="overflow:scroll; overflow:hidden" class="tab-pane fade show active">
		                                <div class="product-grid-view">
		                                    <div class="row">
                                                {% for product in products %}
		                                        <div class="col-md-4">
		                                            <!--Single Product Start-->
                                                    <div class="single-product mb-25">
                                                        <div class="product-img img-full">
                                                            <a href="{{ url_for('main.single_product', p=product.id) }}">
                                                                <img src="{{ url_for('static', filename=product.imagePaths[0].resized_image_path) }}" alt="">
                                                            </a>
                                                            <span class="onsale">{{ _('Sale') }}!</span>
                                                        </div>
                                                        <div class="product-content">
                                                            <h2><a href="{{ url_for('main.single_product', p=product.id) }}">{{ product.name }}</a></h2>
                                                            <div class="product-price">
                                                                <div class="price-box">
                                                                    <span class="regular-price">${{ product.price }}</span>
                                                                </div>
                                                                <div class="add-to-cart">
                                                                    <a tabindex="0" style="cursor: pointer" onclick='add_to_cart("{{ product.id }}", "{{ product.name }}", "{{ product.imagePaths[0].resized_image_path }}", "{{ product.price }}")'>{{ _('Add To Wish List') }}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Single Product End-->
		                                        </div>
                                                {% endfor %}
		                                    </div>
		                                </div>
		                            </div>
		                            <div id="list" style="overflow:scroll; overflow:hidden" class="tab-pane fade">
		                                <div class="product-list-view">
                                            {% for product in products %}
		                                    <div class="product-list-item mb-40">
		                                        <div class="row">
		                                            <!--Single List Product Start-->
		                                            <div class="col-md-4">
		                                                <div class="single-product">
		                                                    <div class="product-img img-full">
		                                                        <a href="{{ url_for('main.single_product', p=product.id) }}">
                                                                    <img src="{{ url_for('static', filename=product.imagePaths[0].resized_image_path) }}" alt="">
                                                                </a>
                                                                <span class="onsale">{{ _('Sale') }}!</span>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                            <div class="col-md-8">
		                                                <div class="product-content shop-list">
		                                                    <h2><a href="{{ url_for('main.single_product', p=product.id) }}">{{ product.name }}</a></h2>
                                                            <div class="product-description">
                                                                <p>{{ product.description }}</p>
                                                            </div>
                                                            <div class="product-price">
                                                                 <div class="price-box">
                                                    <span class="price">${{ product.price }}</span>
                                                    </div>
                                                            </div>
                                                            <div class="product-list-action">
                                                               <div class="add-btn">
                                                                    <a tabindex="0" style="cursor: pointer" onclick='add_to_cart("{{ product.id }}", "{{ product.name }}", "{{ product.imagePaths[0].resized_image_path }}", "{{ product.price }}")'>{{ _('Add To Wish List') }}</a>
                                                                </div>
{#                                                                <ul>#}
{#                                                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>#}
{#                                                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>#}
{#                                                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>#}
{#                                                                </ul>#}
                                                            </div>
		                                                </div>
		                                            </div>
		                                            <!--Single List Product End-->
		                                        </div>
		                                    </div>
                                            {% endfor %}
		                                </div>
		                            </div>
		                            <!--Pagination Start-->
		                            <div class="product-pagination">
		                                <ul>
                                            {% if pagination.has_prev %}
                                                <li><a href="javascript:void(0);" onclick="movePage('{{ status }}', {{ pagination.prev_num }})"><i class="fa fa-angle-double-left"></i></a></li>
                                            {% endif %}
                                            {% for i in pagination.iter_pages() %}
                                                {% if i == pagination.page %}
                                                    <li class="active"><a href="javascript:void(0);" onclick="movePage('{{ status }}', {{ i }})">{{ i }}</a></li>
                                                {% elif i == None %}
                                                    <li><a href="javascript:void(0);" onclick="movePage('{{ status }}', {{ i }})">...</a></li>
                                                {% else %}
                                                    <li><a href="javascript:void(0);" onclick="movePage('{{ status }}', {{ i }})">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if pagination.has_next %}
                                                <li><a href="javascript:void(0);" onclick="movePage('{{ status }}', {{ pagination.next_num }})"><i class="fa fa-angle-double-right"></i></a></li>
                                            {% endif %}
		                                </ul>
		                            </div>
		                            <!--Pagination End-->
		                        </div>
		                    </div>
		                    <!--Shop Product End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Shop Area End-->

        <form action="{{ url_for('main.shop', status="filtrate") }}" method="post" name="selectForm">
            <input type="hidden" id="searchselect" name="searchselect" value="">
            <input type="hidden" id="cateselect" name="cateselect" value="">
            <input type="hidden" id="priceselect" name="priceselect" value="">
            <input type="hidden" id="sortselect" name="sortselect" value="">
            <input type="hidden" id="irselect" name="irselect" value="">
            <button type="submit" id="pass" class="btn btn-info" style="display: none">pass</button>
        </form>

    <script>
            window.onload = function(){
                // initialize global variables
                window.listener = null;  // canvas event listener
                window.flag2 = 0;  // anime progress indicator
                window.is_drawing = false;  // whether anime is finished

                window.tmp_canvas_offsetTop = 0;
                window.tmp_canvas_offsetLeft = 0;

                window.is_closed = true;  // whether car selection area is closed

                // bind event
                $('#btn_display_canvas').on('click', show_car_sl_area);
                var upload_area = document.getElementById("upload_area");
                upload_area.ondrop = function(e) {
                    e.preventDefault();
                    upload_image(e.dataTransfer.files[0]);
                }
                upload_area.ondragover = function() {
                    upload_area.className = "car_sl_upload_area car_sl_drag_over";
                    return false;
                }
                upload_area.ondragleave = function() {
                    upload_area.className = "car_sl_upload_area car_sl_drag_leave";
                    return false;
                }
                upload_area.onclick = function(e) {
                    $('#hidden_upload').click();
                }
                $('#hidden_upload').on('change', function(){
                    var fileObj = document.getElementById("hidden_upload").files[0];
                    upload_image(fileObj);
                })
            }

            window.onresize = function(){
                // adjust coordinates transform
                var canvas = document.getElementById('canvas_area');
                tmp_canvas_offsetTop = element_pageY(canvas);
                tmp_canvas_offsetLeft = element_pageX(canvas);

                // adjust middle canvas container
                var mid_container = document.getElementById("mid_container");
                var percentage = (500 + 40) / mid_container.parentElement.offsetWidth;
                mid_container.style.width = Math.ceil(percentage*100).toString() + "%";
            }

            function element_pageX(elem){
                return elem.offsetParent?(elem.offsetLeft+element_pageX(elem.offsetParent)):elem.offsetLeft;
            };

            function element_pageY(elem){
                return elem.offsetParent?(elem.offsetTop+element_pageY(elem.offsetParent)):elem.offsetTop;
            };

            class CanvasEventListener {
                constructor (
                    result,
                    img_org, w, h,
                    ratio,
                    nw, nh,
                    h_offset, w_offset) {

                    this.cfg = result.cfg;
                    this.results = [];
                    this.results_imgs = [];
                    this.results_masks = [];
                    this.ts = result.ts;

                    var _this = this;
                    if (result.n_targets > 0) {
                        for (var i=0; i<result.n_targets; i++) {
                            this.results.push(result[i.toString()]);
                        }

                        // set param and load img after all resource loaded
                        var post_load_resource = function(_this){
                            _this.canvas = document.getElementById('canvas_area');
                            _this.img_org = img_org;

                            // param
                            if(!_this.canvas.getContext) return;
                            _this.ctx = _this.canvas.getContext("2d");

                            _this.size = _this.canvas.width; _this.ratio = ratio;
                            _this.nw = nw; _this.nh = nh;
                            _this.h_offset = h_offset; _this.w_offset = w_offset;

                            // apply css on mid_container
                            document.getElementById("mid_container").className = "car_sl_mid_container car_sl_on_selecting ";

                            // hide upload area and show canvas
                            document.getElementById("upload_area").style.display = "none";
                            document.getElementById("car_sl_canvas_container").style.display = "block";

                            // adjust middle canvas container
                            var mid_container = document.getElementById("mid_container");
                            var percentage = (500 + 40) / mid_container.parentElement.offsetWidth;
                            mid_container.style.width = Math.ceil(percentage*100).toString() + "%";

                            // get element coordinates to the page
                            tmp_canvas_offsetTop = element_pageY(_this.canvas);
                            tmp_canvas_offsetLeft = element_pageX(_this.canvas);

                            // event
                            _this.canvas.onmousemove = _this.onMouseMove.bind(_this);
                            _this.canvas.onmouseleave = _this.onMouseLeave.bind(_this);
                            _this.canvas.onclick = _this.onMouseClick.bind(_this);
                            _this.in_target = false;
                            _this.in_target_id = -1;

                            // draw image after all resource are loaded
                            _this.ctx.drawImage(img_org, w_offset, h_offset, nw, nh);
                        }

                        // load masks
                        var i = 0;
                        (function load_sub_mask(){
                            if (i < result.n_targets) {
                                var image = new Image(60, 45);
                                image.onload = function(){
                                    _this.results_masks.push(this);
                                    i++;
                                    load_sub_mask();
                                }
                                image.src = result[i.toString()].m_path;
                            } else {
                                if (_this.cfg.enable_rs === 0) {
                                    post_load_resource(_this);
                                }
                            }
                        }())

                        // load img clips
                        if (_this.cfg.enable_rs === 1) {
                            var j = 0;
                            (function load_sub_img(){
                                if (j < result.n_targets) {
                                    var image = new Image(60, 45);
                                    image.onload = function(){
                                        _this.results_imgs.push(this);
                                        j++;
                                        load_sub_img();
                                    }
                                    image.src = result[j.toString()].im_path;
                                } else {
                                    post_load_resource(_this);
                                }
                            }())
                        }
                    }
                }

                onMouseMove(e){
                    // TODO && BUG:
                    //    When moving to another car before the anime of previous car finished,
                    //    a BUG will appear which may cause the masks locked in the previous car.

                    var ex = e.pageX - tmp_canvas_offsetLeft;
                    var ey = e.pageY - tmp_canvas_offsetTop;

                    var flag = false;  // whether mouse pointer is in a bbox

                    for (var i=0; i<this.results.length; i++) {
                        var xmin = this.results[i].xmin; var xmax = this.results[i].xmax;
                        var ymin = this.results[i].ymin; var ymax = this.results[i].ymax;

                        var xmin_new = Math.floor(this.results[i].xmin*this.ratio)+this.w_offset;
                        var xmax_new = Math.floor(this.results[i].xmax*this.ratio)+this.w_offset;
                        var ymin_new = Math.floor(this.results[i].ymin*this.ratio)+this.h_offset;
                        var ymax_new = Math.floor(this.results[i].ymax*this.ratio)+this.h_offset;

                        if (ex > xmin_new && ex < xmax_new && ey > ymin_new && ey < ymax_new) {
                            if (this.in_target && (i != this.in_target_id)) {
                                this.restoreCanvas();
                            }
                            if (!this.in_target) {
                                is_drawing = true;
                                var _this = this;
                                var anime_id = 0;
                                (function draw(){
                                    _this.restoreBg();

                                    if (_this.cfg.enable_rs == 0) {
                                        _this.ctx.drawImage(
                                            _this.results_img[i], Math.floor(xmin*_this.ratio)+_this.w_offset, Math.floor(ymin*_this.ratio)+_this.h_offset,
                                            Math.floor((xmax-xmin)*_this.ratio), Math.floor((ymax-ymin)*_this.ratio));
                                    } else {
                                        var h_org = Math.floor((ymax-ymin)*_this.ratio);
                                        var w_org = Math.floor((xmax-xmin)*_this.ratio);
                                        var rs_ratio = _this.cfg.anime_rs_ratio - 1;

                                        var x1 = Math.floor(xmin*_this.ratio)+_this.w_offset-w_org*(rs_ratio/2)*(flag2/_this.cfg.anime_length);
                                        var y1 = Math.floor(ymin*_this.ratio)+_this.h_offset-h_org*(rs_ratio/2)*(flag2/_this.cfg.anime_length);
                                        var w = Math.floor(w_org+w_org*rs_ratio*(flag2/_this.cfg.anime_length));
                                        var h = Math.floor(h_org+h_org*rs_ratio*(flag2/_this.cfg.anime_length));

                                        _this.ctx.drawImage(_this.results_imgs[i], x1, y1, w, h);
                                        _this.ctx.drawImage(_this.results_masks[i], x1, y1, w, h);
                                    }

                                    _this.ctx.beginPath();
                                    _this.ctx.fillStyle = "rgba(255, 105, 180, 255)";
                                    _this.ctx.arc(Math.floor((xmax_new+xmin_new)/2), Math.floor((ymax_new+ymin_new)/2), flag2, 0, 2 * Math.PI);
                                    _this.ctx.closePath();
                                    _this.ctx.fill();

                                    if (flag2 <= _this.cfg.anime_length && is_drawing) {
                                        flag2 += _this.cfg.anime_speed;
                                        requestAnimationFrame(draw);
                                    }
                                    else {
                                        cancelAnimationFrame(draw);
                                        is_drawing = false;
                                        if (flag2 < _this.cfg.anime_length) {
                                            _this.restoreBg();
                                        }
                                    }
                                }())
                                this.in_target = true;
                                this.in_target_id = i;
                            }
                            flag = true;
                            break;
                        }
                    }

                    if ((!flag) && this.in_target) {
                        this.restoreCanvas();
                        this.in_target_id = -1;
                        flag2 = 0;
                        is_drawing = false;
                    }
                }

                onMouseLeave(e) {
                    if (this.in_target) {
                        this.restoreCanvas();
                        this.in_target_id = -1;
                        flag2 = 0;
                        is_drawing = false;
                    }
                }

                onMouseClick(e) {
                    if (this.in_target_id >= 0) {
                        $.post(
                            "{{ url_for('main.ir_search') }}",
                            {"mode": "ir", "ts": this.ts, "selected": this.in_target_id},
                            function(result){
                                show_car_sl_area();
                                window.location.href = result;
                            }
                        )
                    }
                }

                restoreBg() {
                    this.ctx.clearRect(0, 0, this.size, this.size);
                    this.ctx.drawImage(this.img_org, this.w_offset, this.h_offset, this.nw, this.nh);
                }

                restoreCanvas() {
                    this.ctx.clearRect(0, 0, this.size, this.size);
                    this.ctx.drawImage(this.img_org, this.w_offset, this.h_offset, this.nw, this.nh);
                    this.in_target = false;
                    flag2 = 0;
                    is_drawing = false;
                }
            }

            function reset_all(){
                var canvas = document.getElementById('canvas_area');
                if(!canvas.getContext) return;
                var ctx = canvas.getContext("2d");
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                if (listener != null) { listener = null; }

                canvas.onmousemove = null;
                canvas.onmouseleave = null;
            }

            function show_car_sl_area(){
                if (is_closed) {
                    document.getElementById('car_sl_area').style.display='block';
                    is_closed = false;
                } else {
                    document.getElementById('car_sl_area').style.display='none';
                    var upload_area = document.getElementById("upload_area");
                    upload_area.style.display = "block";
                    upload_area.className = "car_sl_upload_area car_sl_drag_leave";
                    document.getElementById("upload_hint").style.display = "block";
                    document.getElementById("loading_hint").style.display = "none";
                    document.getElementById("loading_hint_text").innerHTML = "locating vehicles";
                    document.getElementById("car_sl_canvas_container").style.display = "none";
                    document.getElementById("mid_container").className = "cal_sl_mid_container";
                    document.getElementById("mid_container").style.margin = "0 auto";

                    reset_all()

                    flag2 = 0;
                    is_drawing = false;

                    tmp_canvas_offsetTop = 0;
                    tmp_canvas_offsetLeft = 0;
                    is_closed = true;
                }
            }

            function upload_image(fileObj){
                if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
                    alert("Please Select Image");
                    return;
                }
                var formFile = new FormData();
                formFile.append("action", "UploadVMKImagePath");
                formFile.append("file", fileObj);
                formFile.append("mode", "hci");

                var data = formFile;

                $.ajax({
                    url: "{{ url_for('main.ir_search') }}",
                    data: data,
                    type: "Post",
                    dataType: "json",
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        // set loading hint
                        document.getElementById("loading_hint_text").innerHTML = "loading resources";

                        // Reset Canvas
                        reset_all()

                        // Set Uploaded Image
                        var image = new Image(60, 45);
                        image.onload = function (){
                            var canvas = document.getElementById('canvas_area');
                            if(!canvas.getContext) return;
                            var ctx = canvas.getContext("2d");

                            // calculate param
                            var size = canvas.width;
                            var padding = result.cfg.padding;
                            var ratio = (size-padding) / Math.max(this.naturalWidth, this.naturalHeight);

                            var nw = Math.floor(this.naturalWidth * ratio);
                            var nh = Math.floor(this.naturalHeight * ratio);

                            // align center
                            var h_offset = Math.floor((size-nh)/2)
                            var w_offset = Math.floor((size-nw)/2)

                            // global
                            listener = new CanvasEventListener(
                                result,
                                this, this.naturalWidth, this.naturalHeight,
                                ratio,
                                nw, nh,
                                h_offset, w_offset)
                        };

                        if (result.use_rs === 0) {
                            image.src = window.URL.createObjectURL(fileObj);
                        } else {
                            // for large image, load resized version from server
                            image.src = result.src_path;
                        }
                    },
                })

                document.getElementById("upload_hint").style.display = "none";
                document.getElementById("loading_hint").style.display = "block";
            }
        </script>

{% endblock %}
